<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suggest Package</title>
</head>
<body>


<form method = "post">
{% csrf_token %}
<select name = "day">
    {%for a in day%}
  <option  value="{{a}}" >{{a}}</option>
    {%endfor%}
</select>

<br><br>

  Cost ( In Toman ):
  <input type="number" name="cost" min="5000" max="1000000"> > 5000
    <br><br>Time From:
  <input type="time" name="timeFrom">
    <br><br>Time To:
  <input type="time" name="timeTo">
    <br><br>
<input type="submit"  value="Submit">
</form>

</body>
</html>